//{{ ansible_managed }}
// bug нужно сделать динамическую реализацию
acl internals {
    127.0.0.0/8;
    192.168.0.0/16;
};


options {
    directory "/var/cache/bind";
    dnssec-must-be-secure rn no;
    dnssec-validation yes;
    auth-nxdomain no;
    listen-on-v6 { none; };
    listen-on { any; };
    # Disabling IPv6 lookups
    filter-aaaa-on-v4 yes;
    allow-recursion     { internals; };
    allow-query-cache   { internals; };
    allow-query         { internals; };
};
