//{{ ansible_managed }}
options {
    directory "/var/cache/bind";
    dnssec-must-be-secure rn no;
    dnssec-validation yes;
    auth-nxdomain no;
    listen-on-v6 { none; };
    listen-on { any; };
    # Disabling IPv6 lookups
    filter-aaaa-on-v4 yes;
};
